{% extends 'pages_template.html.twig' %}

{% block page_content %}
    <h1>Заполните дополнительную информацию о себе</h1>
    {{ form_start(credentialsForm) }}
        {{ form_row(credentialsForm.name, {'label': 'Имя'}) }}
        {{ form_row(credentialsForm.surname, {'label': 'Фамилия'}) }}
        {{ form_row(credentialsForm.patronymic, {'label': 'Отчество'}) }}
        {{ form_row(credentialsForm.passportData, {'label': 'Паспортные данные'}) }}
        {{ form_row(credentialsForm.twoFactorAuthentication, {'label': 'Двухфакторная аутентификация'}) }}
        <button type="submit">Продолжить</button>
    {{ form_end(credentialsForm) }}
{% endblock %}