{% extends 'pages_template.html.twig' %}

{% block page_title %}Поиск городов{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <p class="text-center">В данный момент мы обслуживаем {{ cityCount }} городов</p>
                {{ form_start(citySearchForm) }}
                <div class="row justify-content-center">
                    <div class="form-inline">
                        {{ form_widget(citySearchForm.query, {'attr': {'class': 'form-control mr-3', 'placeholder': 'Введите название'}}) }}
                        {{ form_widget(citySearchForm.find, {'attr': {'class': 'btn btn-dark'}}) }}
                    </div>
                </div>
                {{ form_end(citySearchForm) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                {% if cities | length  %}
                    {% for city in cities %}
                        <div class="card mt-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ city.address }}</h5>
                                <ul class="card-text">
                                    <li>Адрес: {{ city.address }}</li>
                                    <li>Телефон: {{ city.phone }}</li>
                                </ul>
                                <a class="card-link" href="{{ path('buy_ticket', {'to': city.id}) }}">Построить маршрут до точки</a>
                                <a class="card-link" href="{{ path('buy_ticket', {'from': city.id}) }}">Построить маршрут из точки</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3 class="text-center mt-3 mb-4">Ничего не найдено</h3>
                    <p  class="text-center mb-4">Попробуйте изменить поисковый запрос</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}