{% extends 'pages_template.html.twig' %}

{% block page_title %}Изменить данные{% endblock %}

{% block page_content %}
    <div class="container">
        <p class="text-center">Вы вошли как {{ app.user. name ~ ' ' ~ app.user.surname }}</p>
        {% if message is defined %}
            <div class="action-message"><p>{{ message }}</p></div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card mt-5 mb-5">
                    <div class="card-body">
                        <h5 class="card-title">Персональные данные</h5>
                        {{ form_start(personalDataForm) }}
                        <div class="form-group row-12">
                            {{ form_row(personalDataForm.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group row-12">
                            {{ form_row(personalDataForm.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group row-12">
                            {{ form_row(personalDataForm.surname, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group row-12">
                            {{ form_row(personalDataForm.patronymic, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group row-12">
                            {{ form_row(personalDataForm.passportData, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group row-12">
                            {{ form_row(personalDataForm.submit, {'attr': {'class': 'btn btn-dark'}}) }}
                        </div>
                        {{ form_end(personalDataForm) }}
                    </div>
                </div>

                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title">Персональные данные</h5>
                        {{ form_start(passwordRestorationForm) }}
                        <div class="form-group row-12">
                            {{ form_row(passwordRestorationForm.oldPassword, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group row-12">
                            {{ form_row(passwordRestorationForm.password.first, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group row-12">
                            {{ form_row(passwordRestorationForm.password.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group row-12">
                            {{ form_row(passwordRestorationForm.submit, {'attr': {'class': 'btn btn-dark'}}) }}
                        </div>
                        {{ form_end(passwordRestorationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}