{% extends 'pages_template.html.twig' %}

{% block page_title %}Ваши заказы{% endblock %}

{% block page_content %}
    <div class="container">
        <p class="text-center">Всего заказов: {{ ordersInfo | length }}</p>
        <div class="row justify-content-center">
            <div class="col-6">
                {% if ordersInfo | length %}
                    {% for orderInfo in ordersInfo %}
                        <div class="card mt-3 mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ orderInfo.name }}</h5>
                                <ul>
                                    <li>Статус: </li>
                                    <li>Дата отправления: {{ orderInfo.departmentDate | date('Y-m-d') }}</li>
                                    <li>Маршрут: {{ orderInfo.route }}</li>
                                </ul>
                                <a class="card-link" href="{{ path('ticket_full_page', {'id': orderInfo.id}) }}">Просмотр</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3 class="text-center">В истории заказов нет записей</h3>
                    <div class="row justify-content-center">
                        <button class="btn btn-dark bnt-lg" onclick="window.location.href = '/find-voyages'">Купить билет</button></div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
