{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Logo</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a href="{{ path('app_home') }}" class="nav-link active">Домой</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('buy_ticket') }}" class="nav-link">Купить билет</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Маршруты</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('city_search_page') }}" class="nav-link">Города</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Рейсы</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Мои заказы</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ app.user.email }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a href="{{ path('user_personal_page') }}" class="dropdown-item">Моя страница</a>
                                    <a href="{{ path('user_personal_trips') }}" class="dropdown-item">Мои поездки</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{{ path('app_logout') }}" class="dropdown-item">Выйти</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ path('app_login') }}" target="_self" class="nav-link mr-4">Вход</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_register') }}" target="_self" class="btn btn-outline-light">Регистрация</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="content">
                <div class="page-title mt-5 mb-5">
                    <h1 class="text-center page-title-text">{% block page_title %}{% endblock %}</h1>
                </div>
                {% block page_content %}{% endblock %}
            </div>
            <div class="footer">
                <!-- Footer -->
                <footer class="page-footer font-small bg-dark">
                    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright:
                        <a href="https://mdbootstrap.com/" class="text-light"> example.com</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}